@inherits LayoutComponentBase

<div class="app-shell">
    <header class="topbar">
        <div class="brand">
            <span class="dot"></span>
            <span>ngIcons for Blazor</span>
        </div>
        <div class="topbar-links">
            <a href="https://ng-icons.github.io/ng-icons/#/" target="_blank" rel="noreferrer">ng-icons</a>
            <a href="https://github.com/ng-icons" target="_blank" rel="noreferrer">GitHub</a>
        </div>
    </header>

    <main class="app-body">
        @Body
    </main>
</div>
